services:
  editor:
    build:
      context: ./engine
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./.gabber:/app/.gabber
      - ./.secret:/app/.secret
    command: ["uv", "run", "gabber/main.py", "editor"]
    environment:
      - GABBER_SECRET_FILE=.secret
      - GABBER_REPOSITORY_DIR=.gabber

  repository:
    build:
      context: ./engine
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    volumes:
      - ./.gabber:/app/.gabber
      - ./.secret:/app/.secret
    command: ["uv", "run", "gabber/main.py", "repository"]
    environment:
      - GABBER_SECRET_FILE=.secret
      - GABBER_REPOSITORY_DIR=.gabber
      - LIVEKIT_URL=ws://livekit:7880
      - GABBER_PUBLIC_HOST=${GABBER_PUBLIC_HOST:-localhost}

  engine:
    depends_on:
      - livekit
    build:
      context: ./engine
      dockerfile: Dockerfile
    volumes:
      - ./.gabber:/app/.gabber
      - ./.secret:/app/.secret
    command: ["uv", "run", "gabber/main.py", "engine"]
    environment:
      - GABBER_SECRET_FILE=.secret
      - GABBER_REPOSITORY_DIR=.gabber
      - LIVEKIT_URL=ws://livekit:7880
      - LOCAL_LLM_HOST=host.docker.internal
      - KITTEN_TTS_HOST=kitten_tts
    extra_hosts:
      - "host.docker.internal:host-gateway"

  livekit:
    image: livekit/livekit-server:latest
    ports:
      - "7880:7880"
      - "7881:7881"
      - "7882:7882/udp"
    command: ["--dev", "--bind", "0.0.0.0"]
    environment:
      - LIVEKIT_LOG_LEVEL=INFO

  frontend:
    depends_on:
      - editor
      - repository
      - engine
      - livekit
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_REPOSITORY_URL=http://repository:8001
      - NEXT_PUBLIC_EDITOR_URL=ws://${GABBER_PUBLIC_HOST:-localhost}:8000/ws

  # kitten_tts:
  #   build:
  #     context: services/kitten-tts
  #     dockerfile: Dockerfile
